bottle==0.12.18
bottle-cors==0.1.5
click==7.1.2
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
peewee==3.13.3
pyngrok==4.1.10
pytz==2020.1
PyYAML==5.3.1
schedule==0.6.0
waitress==1.4.4
Werkzeug==1.0.1
